#topbar
{
background-color:#1F1F1F;
height:10px;
width:100%;
}
body
{
background-color:white;
}
#container
{
width:70%;
margin:0px auto;
}
#header
{
height:80px;
background-color:#FEFEFE;
}
#header img
{
margin-top:10px;
height:60px;
float:left;
}
#header h1
{
float:left;
color:#EA3B52;
margin-left:20px;
font-size:35px;
}
#header ul
{
float:right;
margin-top:30px;
}
#header ul li
{
display:inline;
margin-right:15px;
}
#header ul li a 
{
color:grey;
text-decoration:none;
font-size:20px;
}
#musicexp
{
float:left;
width:25%;
margin:2px;
background-color:black;
padding:2px;
}
#musicexp ul li a 
{
font-size:25px;
color:white;
text-decoration:none;
float:centre;
}
#musicexp a:hover
{
width:25%;
margin:2px;
padding:2px;
background-color:#FFC502;
}
#banner img
{
width:100%;
padding-bottom:20px;
}
#content1
{
width:32%;
height:350px;
background-color:#EA3B52;
float:left;
margin-right:2%;
}
#content2
{
width:32%;
height:350px;
background-color:#FFC502;
float:left;
}
#content3
{
width:32%;
height:350px;
background-color:#EA3B52;
float:right;
}
.heading
{
color:white;
margin-left:20px;
margin-top:15px;
font-size:36px;
}
.para1
{
color:white;
margin-left:20px;
margin-right:12px;
font-size:20px;
}
.more
{
text-decoration:none;
color:black;
background-color:white;
padding:8px;
margin-left:20px;
}
#bottom1
{
margin-top:15px;
margin-right:2%;
width:23%;
background-color:white;
height:300px;
float:left;
}
#bottom2
{
margin-top:15px;
margin-right:2%;
width:23%;
background-color:white;
height:300px;
float:left;
}
#bottom3
{
margin-top:15px;
margin-right:2%;
width:23%;
background-color:white;
height:300px;
float:left;
}
#bottom4
{
margin-top:15px;
margin-right:2%;
width:23%;
background-color:white;
height:300px;
float:left;
}
#bottom1 ul li a
{
color:grey;
text-decoration:none;
font-size:22px;
}
#bottom2 ul li a
{
color:grey;
text-decoration:none;
font-size:22px;
}
#bottom3 ul li a
{
color:grey;
text-decoration:none;
font-size:22px;
}
#bottom4 ul li a
{
color:grey;
text-decoration:none;
font-size:22px;
}